$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
//fonts
$roboto-font: "Roboto", sans-serif;
$oswald:'Oswald', sans-serif;
$quatro: 'Quattrocento', serif;
//colors
$negro:#303030;
$blanco: #F6F6F6;
$gris:#909090;
$verde: #CAC6BB;
