@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  margin-bottom: 134px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a img {
  width: 70%;
}
header nav {
  margin-right: 10%;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
header nav ul li a {
  text-decoration: none;
  color: #ABABAB;
  position: relative;
}
header nav ul li a:hover {
  color: white;
}
header nav ul li a:hover:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 4px;
  background-color: #DB2A6B;
  bottom: -30%;
}

main {
  width: 100%;
}
main .hero {
  width: 100%;
  display: flex;
}
main .hero .introduccion {
  width: 50%;
}
main .hero .introduccion__one {
  margin-bottom: 144px;
}
main .hero .introduccion__one h1 {
  color: white;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 24px;
}
main .hero .introduccion__one p {
  color: #60616A;
  width: 75%;
  margin-bottom: 32px;
}
main .hero .introduccion__one .buttons {
  display: flex;
  align-items: center;
  gap: 32px;
}
main .hero .introduccion__one .buttons__one {
  padding: 16px 24px;
  text-decoration: none;
  color: white;
  background-color: #DB2A6B;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
}
main .hero .introduccion__one .buttons__one:hover {
  background-color: rgba(219, 42, 107, 0.6117647059);
  transform: scale(1.1);
}
main .hero .introduccion__one .buttons__two {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  gap: 5px;
}
main .hero .introduccion__one .buttons__two:hover {
  transform: scale(1.1);
}
main .hero .introduccion__one .buttons__two:hover img {
  animation: translateAnimation 1s ease infinite; /* 2s duración, linear timing function, infinite bucle */
}
@keyframes translateAnimation {
  0% {
    transform: translateX(0); /* Desde la posición inicial */
  }
  100% {
    transform: translateX(20px); /* Hasta la posición final */
  }
}
main .hero .introduccion__two {
  width: 85%;
  display: flex;
  gap: 20px;
}
main .hero .introduccion__two article {
  display: flex;
  gap: 10px;
  align-items: center;
}
main .hero .introduccion__two article img {
  padding: 8px;
  background-color: #383A45;
  border-radius: 16px;
}
main .hero .introduccion__two article h3 {
  color: white;
  font-weight: 600px;
  font-size: 16px;
}
main .hero .images {
  background-image: url(../../img/background-grid.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom right;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 30px;
}
main .hero .images__one {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .hero .images__two {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .hero .images .ultima {
  width: 30%;
}

html * {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: #2B2D38;
  padding: 33px 120px;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
