html * {
    font-family: $poppins;
}

body {
    width: 100%;
    overflow-x: hidden;
    padding: 33px 120px;
    background-image: url(../../img/Rectanglefondo.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
} 