html * {
    font-family: $quatro;
}

body {
    overflow-x: hidden;
    width: 100%;
    background-image: url("../../img/background.png");
    padding: 33px 100px;
    font-size: 16px;
    color:$negro;
} 