main{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 55% 45%;
    row-gap: 30px;
    .hero{
        width: 80%;
        grid-column: 1;
        grid-row: 1;
        
        h1{
            color:$blue;
            font-weight: bold;
            font-size: 47px;
            line-height: 60px;
            margin-bottom: 28px;
        }
        p{
            color:#909090;
            font-size: 18px;
            width: 90%;
            margin-bottom: 50px;
        }
        div{
            display: flex;
            align-items: center;
            gap: 32px;
            .button{
                border: none;
                color: white;
                background-color: $blue;
                border-radius: 32px;
                padding: 12px 26px;
                text-decoration: none;
                &:hover{
                    background-color: black;
                }
            }
            .play{
                display: flex;
                text-decoration: none;
                color:$blue;
                gap:10px;
                align-items: center;
                img{
                    background-color: white;
                    border-radius: 50%;
                    padding: 12px;
                    box-shadow: -4px 14px 20px 0px rgba(0, 0, 0, 0.098);
                    &:hover{
                        background-color: black;
                    }
                }
            }
        }
    }
    .numbers{
        grid-column: 1;
        grid-row: 2;
        width: 65%;
        display: flex;
        background-color: white;
        padding: 32px;
        border-radius: 16px;
        gap: 40px;
        article{
            display: flex;
            flex-direction: column;
            align-items: center;
            figure{
                margin-bottom: 18px;
                img{
                    background-color: $green;
                    border-radius: 50%;
                    padding: 8px;
                    width: 60px;
                }
                
            }
            p{
                color: $blue;
                font-size: 30px;
                font-weight: 400;
                margin-bottom: 16px;
            }
            h3{
                font-weight: normal;
                text-align: center;
                color:#909090;
                font-size: 16px;
            }
        }
    }
    
}